Body {
    font-family: Calibri;
    background: linear-gradient(#4a685d, #278697, #4a685d);
}


button {
    background-color: #51df56d0;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.container {
    width: 400px;
    padding: 50px;
    background-color: rgb(201, 224, 231);
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f1f1f1;
}

#line {
    color: rgb(201, 224, 231)
}